::-webkit-scrollbar {
  width: 8px; /* عرض شريط التمرير */
}

::-webkit-scrollbar-track {
  background: #e6e6e6; /* لون مسار شريط التمرير */
}

::-webkit-scrollbar-thumb {
  border-radius: 0.1em;
  background: #646464; /* لون مقبض شريط التمرير */
}

::-webkit-scrollbar-thumb:hover {
  background: #333 !important; /* لون مقبض شريط التمرير عند التحويم */
}

::selection {
  background-color: #3333338a;
}

.btn-register {
  --bs-btn-font-weight: 600;
  --bs-btn-color: #eee;
  --bs-btn-bg: #cf5228;
  --bs-btn-border-color: #878787;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #af2e02;
  --bs-btn-hover-border-color: #e7e7e7;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: #eee;
  --bs-btn-active-bg: #cf5228;
  --bs-btn-active-border-color: #222;

  &:disabled {
    background-color: #cf52289d !important;
    opacity: 0.5 !important;
    pointer-events: none !important;
  }
}

.text-orange {
  color: #cf5228;
}

.bg-orange {
  background-color: #cf5228;
}

.btn-login {
  --bs-btn-font-weight: 600;
  --bs-btn-color: #eee;
  --bs-btn-bg: #178553;
  --bs-btn-border-color: #878787;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #016838;
  --bs-btn-hover-border-color: #e7e7e7;
  --bs-btn-focus-shadow-rgb: #000;
  --bs-btn-active-color: #eee;
  --bs-btn-active-bg: #00a85d;
  --bs-btn-active-border-color: #222;

  &:disabled {
    background-color: #016838 !important;
    opacity: 0.5 !important;
    pointer-events: none !important;
  }
}

.warning {
  color: #cf2828 !important;
  border: 1.8px solid currentColor !important;
}

fieldset:has(.password-input-field) {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #dfdfdf;

  input,
  input:focus {
    border: initial;
    border-inline-end: 1px solid #dfdfdf;
  }

  input:focus {
    box-shadow: initial;
  }
}

fieldset:has(.password-input-field:focus) {
  border: 1px solid #6cacf1;
  box-shadow: 0 0 2px 4px #6cacf16a;

  input {
    border-color: inherit;
  }
}

.my-tooltip {
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    translate: 100% -50%;
    border: 12px solid;
    border-color: transparent transparent transparent #87939e;
  }
}

#edit-picture:hover .my-tooltip {
  visibility: visible;
  opacity: 1;
}

.zoom-in-img {
  transition: all 0.8s;

  &:hover {
    scale: 1.4;
    rotate: -7deg;
  }
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (width > 850px) {
  .cursor-shape {
    position: fixed;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #a7a7a7;
    pointer-events: none;
    z-index: 10000;
  }
}

.btn-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10000;
  transition: all 0.4s;
  border: 2px solid #fff;
  background-color: #025c9b;
  color: white;
  padding: 6px 10px;
  line-height: 32px;
  display: grid;
  place-items: center;
  font-size: 20px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 900;
  box-shadow: 0 0 5px #00000060;

  &:hover {
    background-color: #e6e6e6;
    box-shadow: 0 2px 10px #00000052;
    color: #025c9b;
  }
}

.btn-to-top:hover ~ .cursor-shape {
  opacity: 0;
}

.nav-item a {
  border-bottom: 3px solid transparent;
  transition: 0.3s;
  margin-inline: 3px;

  &:hover {
    transform: translatey(-1px) skew(-5deg);
    border-color: #fff;
  }
}

.nav-ul .nav-item a.active {
  border-bottom: 3px solid #fff;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: #fff;
  color: #0c6fb5;
  font-size: 14px;
  border-radius: 50%;
  line-height: 0.8;
  padding: 4px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media (width < 991px) {
  .navbar-toggler:focus {
    box-shadow: none;
  }

  div.navbar-collapse.collapse.show {
    position: absolute;
    background-color: #01497c;
    width: 310px;
    bottom: 0;
    left: 50%;
    translate: -50% 110%;
    padding: 10px;
    border-radius: 0.5em;
    box-shadow: 0 0 30px 0 #00000073;
    border: 3px solid #fff;

    ul.navbar-nav {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-inline: auto;
      li.nav-item {
        min-width: 30%;

        a {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}

.my-heading {
  margin: 10px auto 0;
  width: fit-content !important;
  text-align: center;
  font-weight: 900;
  padding-block: 1rem 2rem;
  color: #01497c;
  position: relative;
  -webkit-text-stroke: 3px #e6e6e6;
  -webkit-text-fill-color: #01497c;

  &::selection {
    background-color: transparent;
  }
}

span.my-heading {
  -webkit-text-stroke: 1.5px #e6e6e6;
  font-size: 2.7rem;
  height: fit-content;
  text-shadow: -5px 4px 1px #01497c34, -3px 6px 8px #0000003f;
}

h2.my-heading {
  font-size: 4.4rem;
  text-shadow: -5px 30px 1px #01497c4e;
  transform: skewY(-3deg);

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 50%;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    background: linear-gradient(125deg, #eee 20%, #074886);
    box-shadow: -10px 0 8px #0e4d8861, 0 -3px 10px #1e6db757;
    transform: skewY(5deg) rotate(45deg);
    border: 1px solid #e6e6e6;
  }

  &::before {
    left: 0;
    translate: -150% 50%;
  }
  &::after {
    right: 0;
    translate: 150% 100%;
  }
}

@media (width < 700px) {
  h2.my-heading {
    font-size: 2.5rem;
    -webkit-text-stroke-width: 1.5px;

    &::before,
    &::after {
      display: none;
    }
  }
  span.my-heading {
    font-size: 2.2rem;
  }
}

.card-desc {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #ffffff 6%, transparent);
    /* box-shadow: 0 -2px 15px 5px #02296c; */
  }
}

.card-title-over-flow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

.text-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

hr.text-primary {
  border-top: 2px solid #007bff;
}

.card {
  transition: all 0.5s;
  &:hover {
    transform: translatey(-10px);
  }
}

.img-overlay {
  position: relative;
  &::after {
    content: "";
    transition: all 0.3s;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #2678b384;
    translate: 100% 100%;
  }

  &:hover::after {
    translate: 60% 50%;
    pointer-events: none;
  }
}

.show-more {
  font-weight: 700;
  padding-top: 5px;
  text-transform: capitalize;
  transition: 0.3s;
  color: #2367e3;

  &:hover {
    color: #014cce;
    transform: translatex(4px);
  }
}

.active-cat {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px 1px #00000089;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -60%;
    width: 120%;
    height: 60%;
    background-color: #eee;
    transform: rotate(-40deg);
    box-shadow: 0 0 10px 1px #00000050;
  }
}

/* start footer  */
footer {
  background-color: #01497c;
  padding-block: 3.5rem;
  margin-top: 50px;

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;

    .logo {
      flex-grow: 1;

      a {
        position: relative;
        width: fit-content;

        &::before,
        &::after {
          content: "";
          position: absolute;
          bottom: -8px;
          left: 0%;
          translate: 3px 100%;
        }

        &::before {
          width: 15px;
          height: 15px;
          background-color: #377dff;
          border-radius: 50%;
          z-index: 1;
          border: 2px solid #fff;
          translate: 110% calc(100% - 5px);
        }

        &::after {
          width: 70%;
          height: 5px;
          background: #eee;
          border-radius: 5px;
        }
      }
    }

    .lists {
      flex-grow: 7;
      display: flex;
      flex-wrap: wrap;
      gap: 2.5rem;
      justify-content: space-evenly;

      .list {
        h3 {
          color: #fff;
          font-weight: 700;
          margin-bottom: 1.2rem;
          position: relative;
          padding-bottom: 10px;

          &::after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0;
            translate: 0 100%;
            width: 50%;
            height: 5px;
            background: #fff;
            border-radius: 5px;
          }
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          li {
            color: #fff;
            font-weight: 700;
            cursor: pointer;
            transition: color 0.3s;
            margin-bottom: 0.6rem;
            width: fit-content;
            border-bottom: 2.5px solid transparent;

            &:hover {
              color: #377dff;
              border-color: #377dff;
            }
          }
        }
      }
    }

    .social-media {
      .icons {
        display: flex;
        justify-content: center;
        gap: 1rem;

        a {
          color: #fff;
          font-size: 1.7rem;
          transition: color 0.3s;
          cursor: pointer;

          &:hover {
            color: #377dff;
          }
        }
      }
    }
  }
}

@media (max-width: 667px) {
  footer .container {
    justify-content: center;

    .logo {
      text-align: center;
    }

    .lists {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      text-align: center;
      gap: 0.8rem;
    }
  }
}
/* end footer  */

/* start loader  */
.loader-container {
  min-height: 70vh;
  width: 100%;
  display: grid !important;
  place-items: center !important;
}

.spinner {
  width: 70px;
  height: 70px;
  animation: spinner-y0fdc1 2s infinite ease;
  transform-style: preserve-3d;
}

.spinner > div {
  background-color: rgba(10, 95, 185, 0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2.2px solid rgba(10, 95, 185, 0.71);
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-22.4px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(22.4px);
}

@keyframes spinner-y0fdc1 {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}
/* end loader  */

/* start small loader  */
.small-spinner {
  position: relative;
  width: 5px;
  height: 5px;
}

.small-spinner div {
  position: absolute;
  width: 50%;
  height: 150%;
  background: #000000;
  transform: rotate(calc(var(--rotation) * 1deg))
    translate(0, calc(var(--translation) * 1%));
  animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

.small-spinner div:nth-child(1) {
  --delay: 0.1;
  --rotation: 36;
  --translation: 150;
}

.small-spinner div:nth-child(2) {
  --delay: 0.2;
  --rotation: 72;
  --translation: 150;
}

.small-spinner div:nth-child(3) {
  --delay: 0.3;
  --rotation: 108;
  --translation: 150;
}

.small-spinner div:nth-child(4) {
  --delay: 0.4;
  --rotation: 144;
  --translation: 150;
}

.small-spinner div:nth-child(5) {
  --delay: 0.5;
  --rotation: 180;
  --translation: 150;
}

.small-spinner div:nth-child(6) {
  --delay: 0.6;
  --rotation: 216;
  --translation: 150;
}

.small-spinner div:nth-child(7) {
  --delay: 0.7;
  --rotation: 252;
  --translation: 150;
}

.small-spinner div:nth-child(8) {
  --delay: 0.8;
  --rotation: 288;
  --translation: 150;
}

.small-spinner div:nth-child(9) {
  --delay: 0.9;
  --rotation: 324;
  --translation: 150;
}

.small-spinner div:nth-child(10) {
  --delay: 1;
  --rotation: 360;
  --translation: 150;
}

@keyframes spinner-fzua35 {
  0%,
  10%,
  20%,
  30%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    transform: rotate(calc(var(--rotation) * 1deg))
      translate(0, calc(var(--translation) * 1%));
  }

  50% {
    transform: rotate(calc(var(--rotation) * 1deg))
      translate(0, calc(var(--translation) * 1.5%));
  }
}
/* end small loader  */

.btn-primary {
  background-color: #025c9b !important;
  border-color: #025c9b !important;
  color: #fff !important;
}

.btn {
  transition: transform 0.4s, box-shadow 0.3s;
  &:hover {
    transform: translateY(2px);
  }
  &:focus {
    outline: 2px solid #01497c;
  }
}
.btn-primary:hover {
  box-shadow: 0 0 5px 1px #025c9b;
}

.text-primary {
  color: #025c9b !important;
}

.cart-table {
  &::-webkit-scrollbar {
    width: 5px !important; /* عرض شريط التمرير */
  }

  &::-webkit-scrollbar-track {
    background: #e6e6e6; /* لون مسار شريط التمرير */
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #01497c; /* لون مقبض شريط التمرير */
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555555; /* لون مقبض شريط التمرير عند التحويم */
  }
}

.cart-list {
  position: absolute;
  bottom: -5px;
  left: 38vw;
  background: #fff;
  border: 2px solid #01497c;
  color: #01497c;
  translate: -0% calc(100% - 8px);
  max-width: 100%;
  min-width: 500px;
  border-radius: 6px;
  scale: 0;
  opacity: 0;
  transition: scale 0.8s, opacity 0.7s;
  padding: 4px 8px;
  box-shadow: 0 0 17px #00000091;
  outline: 1px solid #eee;
  z-index: 999999;

  > h2 {
    padding: 10px;
    color: #fff;
    background-color: #01497c;
    border: 1px solid #fff;
    border-radius: inherit;

    &::first-letter {
      padding-left: 10px;
    }
  }

  .cart-products-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 60vh;
    overflow: hidden auto;
    min-width: 600px;

    &::-webkit-scrollbar {
      width: 7px !important; /* عرض شريط التمرير */
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 0;
      background: #01497c; /* لون مقبض شريط التمرير */
    }

    > div:nth-child(even) {
      background-color: #dadada;
    }

    .pro-in-list {
      flex-grow: 1;
      display: flex;
      flex-flow: row nowrap;
      gap: 10px;
      align-items: center;
      justify-content: space-between;
      padding: 7px;
      border-bottom: 1px solid #01497c;

      .quantity {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #01497c;
        translate: 30% -20%;
        padding: 4px 8px;
        border-radius: 50%;
      }

      h2 {
        width: 140px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
      }

      img {
        max-width: 100px;
        aspect-ratio: 1;
        border-radius: 10px;
        box-shadow: 0 0 10px #00000060;
        object-fit: contain;
      }
    }
  }
}

@media (width < 1100px) {
  .cart-list {
    left: 30vw;
  }
}

@media (width < 991px) {
  .cart-list {
    display: none;
  }
}

.cart-link:hover .cart-list {
  scale: 1;
  opacity: 1;
}

/* swiper */
.swiper-button-next,
.swiper-button-prev {
  color: #006cb9 !important;
  transition: all 0.2s;
  scale: 0.8;

  &:hover {
    scale: 1;
  }
}

.swiper-button-next {
  translate: -70% 0;
}

.swiper-button-prev {
  translate: 70% 0;
}

.swiper-pagination-bullet {
  opacity: 0.5 !important;
  background-color: #333 !important;
  width: 12px !important;
  height: 12px !important;
  border: 1px solid #01497c;
  outline: 1px solid #fff;
  transition: all 0.2s;

  &.swiper-pagination-bullet-active {
    background-color: #01497c !important;
    opacity: 1 !important;
  }

  &:hover {
    background-color: #01497c !important;
    scale: 1.3;
  }
}
/* swiper */

/* toast */
.toasts-parent {
  position: fixed;
  z-index: 9999;
  width: 290px;
  bottom: 80px;
  right: 20px;
  height: fit-content;
}

.toasts-parent.overlay {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(#ffffff81, transparent);
    pointer-events: none;
  }
}

.toasts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
  overflow: hidden auto;
  transition: all 0.4s;
  max-height: 60svh;

  &::-webkit-scrollbar {
    width: 0 !important; /* عرض شريط التمرير */
  }

  &:hover {
    &::-webkit-scrollbar {
      width: 2px !important;
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #01497c; /* لون مقبض شريط التمرير */
  }

  .my-toast {
    border: 2px solid #fff;
    width: 290px;
    padding: 7px;
    border-radius: 8px;
    box-shadow: 0 0 5px #01497c30;
    scale: 1;
    transition: all 0.7s;
  }
}

@media (width < 667px) {
  .toasts-wrapper .my-toast {
    width: 220px;
  }
}

/* toast */
.drop-down-profile {
  transition: all 0.3s;
  bottom: 0;
  left: 50%;
  translate: -75% 140%;
  z-index: 99999;
}

.drop-down-hidden {
  scale: 0;
}
